@model TfsStates.ViewModels.TfsStatesViewModel

@{
    ViewData["Title"] = "Home";
}

<h2>TFS States Report</h2>

<form asp-antiforgery="true" asp-controller="Home" asp-action="RunReport" id="reportForm">
    <div asp-validation-summary="All" class="text-danger"></div>

    @if (Model.RunReadyState != null
 && !Model.RunReadyState.IsReady
 && !string.IsNullOrEmpty(Model.RunReadyState.Message))
    {
        <div class="alert alert-warning alert-dismissible" role="alert" id="readyAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(Model.RunReadyState.Message)
        </div>
    }

        <div class="row">
            <div class="col-md-4">
                <label asp-for="ConnectionId" class="control-label"></label><br/>
                <select asp-for="ConnectionId" asp-items="@Model.Connections"></select>
            </div>

            <div class="col-md-4">
                <label asp-for="Project" class="control-label"></label><br/>
                <select asp-for="Project" asp-items="@(new SelectList(Model.Projects))" id="Project"></select>
            </div>

            <div class="col-md-4">
                <label asp-for="Iteration" class="control-label">Iteration Under</label><br/>
                <select asp-for="Iteration" asp-items="@(new SelectList(Model.Iterations))" id="Iteration"></select>
            </div>
        </div>

    <div class="row" style="margin-top: 10px; ">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" id="runButton" value="Run Report" />
        </div>
    </div>

    <div class="row" id="progressContainer" style="display: none; margin-top: 20px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Work Items Processed <span class="badge" id="progressCount" style="margin-left: 4px;">0</span>
                        <span id="progressPer" style="margin-left: 10px;"></span>
                    </h3>
                </div>
                <div class="panel-body" id="progressMessage">
                    <!--
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    @if (Model.FinalProgress != null)
    {
        <div id="finalProgress" class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Work Items Processed <span class="badge">@Model.FinalProgress.WorkItemsProcessed</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>@Model.FinalProgress.Message</div>

                        @if (Model.ResultFilename != null)
                        {
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-success" onclick="viewReport('@Model.ResultFilename')">
                                    View Report
                                </button>
                            </div>
                        }

                        <div id="viewReportResult" style="margin-top: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</form>

<div id="chartContainer"><canvas id="barChart"></canvas></div>

@{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/lib/chartjs/dist/Chart.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/chartjs/dist/Chart.min.js"></script>
    </environment>

    <script type="text/javascript">
        var selectIterationOption = function () {
            return '<option value="">- Select iteration -</option>';
        };

        var selectProjectOption = function () {
            return '<option value="">- Select project -</option>';
        };

        var getIterations = function (connectionId, projectName, index) {
            var url = `/home/iterations/${connectionId}/${projectName}`;
            var iterationCombo = $('#Iteration');
            iterationCombo.html('<option value="">Loading...</option>');

            if (index > 0 && projectName && connectionId) {
                $.get(url, function (data) {
                    var output = [];

                    $.each(data, function (key, value) {
                        output.push('<option value="' + value + '">' + value + '</option>');
                    });

                    iterationCombo.html(output.join(''));
                })
                .fail(function () {
                    iterationCombo.html(selectIterationOption());
                })
                .always(function () {
                });
            }
            else {
                iterationCombo.html(selectIterationOption());
            }
        };

        var getProjects = function (connectionId, index) {
            var url = `/home/connections/${connectionId}/projects`
            var projectCombo = $('#Project');
            projectCombo.html('<option value="">Loading...</option>');

            if (index > 0 && connectionId) {
                $.get(url, function (data) {
                    var output = [];

                    $.each(data, function (key, value) {
                        output.push('<option value="' + value + '">' + value + '</option>');
                    });

                    projectCombo.html(output.join(''));
                })
                .fail(function () {
                    projectCombo.html(selectProjectOption());
                })
                .always(function () {
                });
            }
            else {
                projectCombo.html(selectProjectOption());
            }
        };

        var viewReport = function (name) {
            var url = "/home/viewreport/" + name;

            $.get(url, function (filename) {
                $('#viewReportResult').html("Launched " + filename);
            })
            .fail(function () {
                $('#viewReportResult').html("Error launching report " + name);
            })
            .always(function () {
            });
        };

        $(function () {
            const { ipcRenderer } = require("electron");

            $("#ConnectionId").change(function () {
                var connectionId = this.value;
                getProjects(connectionId, this.selectedIndex);
            });

            $("#Project").change(function () {
                var connectionId = $('#ConnectionId').val();
                getIterations(connectionId, this.value, this.selectedIndex);
            });

            if ($("#Iteration option").length === 0) {
                $('#Iteration').html(selectIterationOption());
            }

            $("#reportForm").submit(function (event) {
                $("#runButton").prop('disabled', true);
                $("#progressMessage").html("Running report...");
                $("#progressContainer").show();
                $("#finalProgress").hide();
                $("#chartContainer").hide();
            });

            ipcRenderer.on('report-progress', (event, arg) => {
                $('#progressMessage').html(arg.message);

                if (arg.workItemsProcessed) {
                    $('#progressCount').html(arg.workItemsProcessed);
                }

                if (arg.percentDone) {
                    $('#progressPer').html(arg.percentDone + '%');
                }
            });
        });
    </script>

    <script>
        @if (chart != null) { 
            @Html.Raw(chart.CreateChartCode("barChart"));
        }
    </script>
}
